.text1 {
	background-color: yellow;
	width: 90px;
	height: 30px;
	border: solid 1px yellow;
	margin: 3px;
	display: inline-block;
}
.text2 {
	background-color: red;
	width: 40px;
	height: 30px;
	border: solid 1px red;
	margin: 3px;
	display: inline-block;
}
.text3 {
	background-color: yellow;
	width: 160px;
	height: 30px;
	border: solid 1px yellow;
	margin: 3px;
	display: inline-block;
}
div p {
	text-align: center;
	padding: 2px;
	margin: 1px;
}